In [2]:
import pandas as pd
import os

In [6]:
testFile = 'CombinedTestingFrame_A2_A3_O3_short.txt'
trainFile = 'CombinedTrainingFrame_A2_A3_O3_short.txt'

In [7]:
testFrame = pd.read_csv(testFile,names=['ID','label','extra'],sep='\t',low_memory=False, dtype={'ID':str,'label':int,'extra':int})
trainFrame = pd.read_csv(trainFile,names=['ID','label','extra'],sep='\t',low_memory=False, dtype={'ID':str,'label':int,'extra':int})

In [8]:
testFrame

                                                     ID  label  extra
0     /trinity/home/r098375/DDS/data/ADNI/ADNI3/test...      3      0
1     /trinity/home/r098375/DDS/data/ADNI/ADNI3/test...      3      0
2     /trinity/home/r098375/DDS/data/ADNI/ADNI3/test...      3      0
3     /trinity/home/r098375/DDS/data/ADNI/ADNI3/test...      3      0
4     /trinity/home/r098375/DDS/data/ADNI/ADNI3/test...      3      0
...                                                 ...    ...    ...
8395  /trinity/home/r098375/DDS/data/OASIS/OASIS3/te...     12      0
8396  /trinity/home/r098375/DDS/data/OASIS/OASIS3/te...     12      0
8397  /trinity/home/r098375/DDS/data/OASIS/OASIS3/te...     12      0
8398  /trinity/home/r098375/DDS/data/OASIS/OASIS3/te...     12      0
8399  /trinity/home/r098375/DDS/data/OASIS/OASIS3/te...     12      0

[8400 rows x 3 columns]

In [9]:
trainFrame

                                                      ID  label  extra
0      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
1      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
2      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
3      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
4      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
...                                                  ...    ...    ...
59095  data/OASIS/OASIS3/train/NIFTI_SLICES/sub-OAS31...     12      0
59096  data/OASIS/OASIS3/train/NIFTI_SLICES/sub-OAS31...     12      0
59097  data/OASIS/OASIS3/train/NIFTI_SLICES/sub-OAS31...     12      0
59098  data/OASIS/OASIS3/train/NIFTI_SLICES/sub-OAS31...     12      0
59099  data/OASIS/OASIS3/train/NIFTI_SLICES/sub-OAS31...     12      0

[59100 rows x 3 columns]

In [10]:
def extractNiftiName(ID):
    name = ID.split(os.sep)[-1]
    name = name.split('__s')[0]
    return name

In [11]:
trainFrame['niftiName'] =  trainFrame['ID'].apply(extractNiftiName)
testFrame['niftiName'] = testFrame['ID'].apply(extractNiftiName)

In [12]:
overlap = trainFrame.merge(testFrame,how='inner',on='niftiName')

In [13]:
overlap

Empty DataFrame
Columns: [ID_x, label_x, extra_x, niftiName, ID_y, label_y, extra_y]
Index: []