In [19]:
import pandas as pd
import os

In [20]:
testFile = 'CombinedTestingFrame_A2_A3_O3_egd_short.txt'
trainFile = 'CombinedTrainingFrame_A2_A3_O3_egd_short.txt'

In [21]:
testFrame = pd.read_csv(testFile,names=['ID','label','extra'],sep='\t',low_memory=False, dtype={'ID':str,'label':int,'extra':int})
trainFrame = pd.read_csv(trainFile,names=['ID','label','extra'],sep='\t',low_memory=False, dtype={'ID':str,'label':int,'extra':int})

In [28]:
testFrame

,ID,label,extra,niftiName
0,/trinity/home/r098375/DDS/data/ADNI/ADNI3/test...,3,0,20200213__MR__2.16.124.113543.6006.99.49513324...
1,/trinity/home/r098375/DDS/data/ADNI/ADNI3/test...,3,0,20200213__MR__2.16.124.113543.6006.99.49513324...
2,/trinity/home/r098375/DDS/data/ADNI/ADNI3/test...,3,0,20200213__MR__2.16.124.113543.6006.99.49513324...
3,/trinity/home/r098375/DDS/data/ADNI/ADNI3/test...,3,0,20200213__MR__2.16.124.113543.6006.99.49513324...
4,/trinity/home/r098375/DDS/data/ADNI/ADNI3/test...,3,0,20200213__MR__2.16.124.113543.6006.99.49513324...
...,...,...,...,...
11195,/trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...,10,0,20180127__MR__1.2.826.0.1.3680043.10.104.10817...
11196,/trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...,10,0,20180127__MR__1.2.826.0.1.3680043.10.104.10817...
11197,/trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...,10,0,20180127__MR__1.2.826.0.1.3680043.10.104.10817...
11198,/trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...,10,0,20180127__MR__1.2.826.0.1.3680043.10.104.10817...
11199,/trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...,10,0,20180127__MR__1.2.826.0.1.3680043.10.104.10817...

In [23]:
trainFrame

                                                      ID  label  extra
0      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
1      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
2      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
3      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
4      /trinity/home/r098375/DDS/data/ADNI/ADNI3/trai...      3      0
...                                                  ...    ...    ...
78895  /trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...      1      0
78896  /trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...      1      0
78897  /trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...      1      0
78898  /trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...      1      0
78899  /trinity/home/r098375/DDS/data/egd/NIFTI_SLICE...      1      0

[78900 rows x 3 columns]

In [24]:
def extractNiftiName(ID):
    name = ID.split(os.sep)[-1]
    name = name.split('__s')[0]
    return name

In [25]:
trainFrame['niftiName'] =  trainFrame['ID'].apply(extractNiftiName)
testFrame['niftiName'] = testFrame['ID'].apply(extractNiftiName)

In [26]:
overlap = trainFrame.merge(testFrame,how='inner',on='niftiName')

In [27]:
overlap

Empty DataFrame
Columns: [ID_x, label_x, extra_x, niftiName, ID_y, label_y, extra_y]
Index: []