In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [18]:
df = pd.read_csv('trainTestFrame.csv')

In [20]:
df.head(100)

,NIFTI_slice_names,sid,NIFTI_names,split
0,sub-OAS30333_ses-d141_acq-PIB_pet__s6.nii.gz,sub-OAS30333,sub-OAS30333_ses-d2005_FLAIR.nii.gz,train
1,sub-OAS30333_ses-d141_acq-PIB_pet__s6.nii.gz,sub-OAS30333,sub-OAS30333_ses-d2008_run-02_asl.nii.gz,train
2,sub-OAS30333_ses-d141_acq-PIB_pet__s6.nii.gz,sub-OAS30333,sub-OAS30333_sess-d2891_CT.nii.gz,train
3,sub-OAS30333_ses-d141_acq-PIB_pet__s6.nii.gz,sub-OAS30333,sub-OAS30333_ses-d2457_T1w.nii.gz,train
4,sub-OAS30333_ses-d141_acq-PIB_pet__s6.nii.gz,sub-OAS30333,sub-OAS30333_sess-d4347_T2w.nii.gz,train
...,...,...,...,...
95,sub-OAS30333_ses-d2005_acq-TSE_T2w__s15.nii.gz,sub-OAS30333,sub-OAS30333_ses-d2005_acq-TSE_T2w.nii.gz,train
96,sub-OAS30333_ses-d2005_acq-TSE_T2w__s15.nii.gz,sub-OAS30333,sub-OAS30333_ses-d0093_task-rest_run-03_bold.n...,train
97,sub-OAS30333_ses-d2005_acq-TSE_T2w__s15.nii.gz,sub-OAS30333,sub-OAS30333_ses-d2008_T1w.nii.gz,train
98,sub-OAS30333_ses-d2005_acq-TSE_T2w__s15.nii.gz,sub-OAS30333,sub-OAS30333_ses-d2005_echo-2_run-01_fieldmap....,train
99,sub-OAS30333_ses-d2005_acq-TSE_T2w__s15.nii.gz,sub-OAS30333,sub-OAS30333_ses-d611_acq-PIB_pet.nii.gz,train

In [5]:
usids = df['sid'].unique()

In [13]:
trainsids, testsids = train_test_split(usids, shuffle=True, random_state=42, test_size=0.1)

In [15]:
df['split'] = ['train' if s in trainsids else 'test' for s in df['sid']]

In [16]:
df

                                             NIFTI_names           sid  split
0                   sub-OAS30015_ses-d2004_T2star.nii.gz  sub-OAS30015  train
1      sub-OAS30644_ses-d0136_echo-1_run-01_fieldmap....  sub-OAS30644  train
2              sub-OAS30336_ses-d0238_acq-PIB_pet.nii.gz  sub-OAS30336  train
3               sub-OAS30848_ses-d0070_run-01_T1w.nii.gz  sub-OAS30848  train
4                    sub-OAS30348_ses-d0077_FLAIR.nii.gz  sub-OAS30348  train
...                                                  ...           ...    ...
20578           sub-OAS30364_ses-d0110_run-01_dwi.nii.gz  sub-OAS30364  train
20579           sub-OAS30735_ses-d2484_run-02_dwi.nii.gz  sub-OAS30735  train
20580  sub-OAS30429_ses-d0055_echo-2_run-01_fieldmap....  sub-OAS30429  train
20581           sub-OAS30063_ses-d0160_run-01_T1w.nii.gz  sub-OAS30063  train
20582  sub-OAS30598_ses-d0069_task-rest_run-01_bold.n...  sub-OAS30598  train

[20583 rows x 3 columns]

In [17]:
df['split'].value_counts()

split
train    18404
test      2179
Name: count, dtype: int64